<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Crossbar.io IoT Cookbook - Pi/Buzzer</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->

    <link rel="stylesheet" href="materialize_cb.min.css.gz">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

    <style>
        #buzzer {
            display: inline-block;
            width: 2em;
            height: 2em;
            background-color: #333;
        }
    </style>

</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img src="crossbar_icon_inverted.svg" alt="crossbar logo inverted" width="60" height="60">
                <img src="crossbar_iot_cookbook.svg" alt="crossbar logo inverted" class="notOnNarrowScreens" width="248" height="60">
            </a>
            <span>
                Buzzer
            </span>
       </div>
    </nav>

    <div id="demo_body" class="container">

        <h1>
            Crossbar.io IoT Cookbook: Pi/Buzzer Frontend
        </h1>

        <p>
            This is the demo frontend for the
            <a href="https://github.com/crossbario/iotcookbook/tree/master/device/pi/recipes/buzzer">
            Buzzer Recipe</a> in the Crossbar.io IoT Cookbook.
        </p>

        <div id="serial" class="hidden">
            Enter the serial number of the Pi you want to control: <input type="text" id="serialNumber">
            <br>
            <div class="center">
                <button onclick="serialEntered()">Connect</button>
            </div>
        </div>

        <h2>Status</h2>
        <table>
            <tr>
                <td>Connected to URL (protocol)</td><td><b id="status_url">-</b></td>
            </tr>
            <tr>
                <td>Joined as authid@realm</td><td><b id="status_realm">-</b></td>
            </tr>
            <tr>
                <td>Addressing Pi with serial No.:</td><td><b id="status_serial">-</b></td>
            </tr>
            <tr>
                <td>Pi component started (UTC)</td><td><b id="status_started">-</b></td>
            </tr>
        </table>

        <h2>Buzzer Trigger</h2>
        <p>
            Click one of the buttons to start a beeping sequence on the piezo buzzer connected to the Pi.
        </p>
        <p class="center">
            <button onclick="beep();">Beep 1x</button>
            <button onclick="beep(5);">Beep 5x</button>
            <button onclick="beep(3, 400, 100);">Beep 3x long</button>
        </p>

        <h2>Buzzer Indicator</h2>
        <p>
            When the buzzer on the Pi is active (playing a beep sequence), this indicator is flashed.
        </p>
        <p class="center">
            <span id="buzzer"></span>
        </p>

    </div>

    <script>AUTOBAHN_DEBUG = false;</script>
    <script src="https://demo.crossbar.io/shared/autobahn/autobahn.min.js"></script>
    <script src="client.js"></script>
</body>
</html>
